<br>
</br>

<br>
</br>
<br>
</br>
<br>
</br>

<br>
</br>
<br>
</br>

<form action="/orders/Add-New-Order/<%= productId %>" method="post">


        <div class="form-group">
          <label for="quantity">quantity</label>
          <input
            type="text"
            id="quantity"
            name="quantity"
            class="form-control"
            placeholder="Enter quantity"
            value="<%= typeof quantity != 'undefined' ? quantity : '' %>"
          
          />
        
        <button type="submit" class="btn btn-primary btn-block">Place your order</button>
</form>
<br>
</br>
<br>
</br>
<br>
</br>

<br>
</br><br>
</br>
<br>
</br>
<br>
</br>

<br>
</br>
<br>
</br>