<form>
        <br>
        </br>
        <br>
        </br>


        <p class="get"><br/>name: <%= items.product.name %><br/>
        <br/>quantity: <%= items.quantity %><br/>
        <br/>Price: <%= items.product.price %><br/>
        

        <br>
        </br>
        <a href="/orders/Delete-One-Order/<%= items._id %> ">Return Order</a>
        </p>
        <br>
        </br>
        <br>
        </br>
        <br>
        </br>
        <br>
        </br>
        <br>
        </br>
        <br>
        </br>
        <br>
        </br>
        <br>
        </br>
        <br>
        </br>
        <br>
        </br>
 
</form>


