



<!DOCTYPE html>
<html lang="en">
  <head>
    
    <title>Online Liabrary Management System</title>
    <style type="text/css">
    
    
	    
	</style>
  </head>




  <body>




  

 <br></br>



 <br></br>

  <h1 class="started"> Welcome to YOURCART ...</h1>

	<p class="started"> YOURCART is an online Retailer where you can sell or Shop for products

	Consumers choose YOURCART because it does better than its competition on these CPC. ... For YOURCART, such capabilities include offering a wide selection of products and services, operating an efficient supply chain to fulfill orders; and providing excellent customer service.
	<br></br>

	YOURCART delivers convenient and secure shopping, options to suit any budget, and speedy shipping services – especially for prime members.
	<br></br>

	YOURCART allows for individuals and business to sell and display products for sale on line. 
	</p>
	<br></br>


	<h2 class="started"> Why YOURCART? </h2>

	<div class="features">
	<br></br>
	<li> Secure transactions through the Amazon Payments system</li>
	<br></br>
	<li> lack of resources</li>
	<br></br>
	<li> Super easy to use</li>
	<br></br>
	<li> Free shipping widely available, especially for prime members</li>
	<br></br>
	<li> Great discounts up for grabs every single day</li>
	<br></br>
	<li> Free returns, no questions</li></div>

	<br></br>
	<p class="started">
        So, What are you waiting for? <a class="started" href="/user/login">Get started</a>
	  </p>

	  <br></br>
	 <br></br>
	 <br></br>
	 <br></br>
	 <br></br>
	 <br></br>


  
  </body>
</html>